<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='insert.css') }}">
</head>
<body>
    <div class="outter">
        <div class="inner">
                <header>
                    <h1>Wake ON lan</h1>
                    <p>{{ suc }}</p>               
                </header>
            
                <main>
                  <form action="{{ url_for('add_users') }}" method="post">
                    <div class="form-group">
                        <label for="Name">USERNAME</label>
                        <input type="text" name="username" placeholder="enter system name" id="system">
                    </div>

                    <div class="form-group">
                        <label for="Name">PASSWORD</label>
                        <input type="mac" name="password" placeholder="enter mac address" id="mac">
                    </div>

                    
                    <div class="form-group">
                        <button>submit</button>
                    </div>

                </form>

                </main>

            <footer>
                <!-- <p>don't have an account</p> -->
                
            </footer>
        </div>
    </div>
</body>
</html>